@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,600&family=IBM+Plex+Sans+KR&family=Nunito:wght@600&display=swap");
body {
  margin: 0;
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
}

header {
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
}

/* button {
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: 0 none;
  border-radius: 6px;
  padding: 9px 14px;
  color: #fff;
  background-color: dodgerblue;
} */

.off td {
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
  background: #eee;
  color: #ccc;
}
table {
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
table thead {
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
table td {
  font-family: "Barlow", "IBM Plex Sans KR", "Nunito", sans-serif;
  width: 25%;
  height: 70px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 20px;
}
table tbody table thead {
  padding: 2px;
}

/* a {
  text-decoration: none;
  display: block;
  padding: 20px 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(16, 60, 104);
} */

table tbody canvas,
table tbody canvas::before,
table tbody canvas::after {
  box-sizing: border-box;
  width: 100%;
}
